{% extends 'index.html' %}
{% load static %}
{% block title %}Ping Rests - Main Page{% endblock %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="row">
            <div class="col">
                <h1>Restaurants</h1>
            </div>
        </div>
        <!-- add input for sorting restaurants -->
        <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example" onchange="location = this.value;">
                        <option value="#" selected>Select sorting</option>
                        <option value="?sort_by=created_at_desc">Created Desc</option>
                        <option value="?sort_by=created_at_asc">Created Asc</option>
                        <option value="?sort_by=rating_desc">Rating Desc</option>
                        <option value="?sort_by=rating_asc">Rating Asc</option>
                        <option value="?sort_by=name_desc">Name Desc</option>
                        <option value="?sort_by=name_asc">Name Asc</option>
                    </select>
                </div>
        </div>
        
        {% for chunk in restaurants_chunks %}
            <div class="row" style="margin-top: 20px;">
            {% for restaurant in chunk %}
                <div class="col-3">
                    <a href="{% url 'restaurants-detail' restaurant.id %}" style="color: inherit; text-decoration: none;">
                        <div class="card h-100">
                            {% if restaurant.image %}
                                <img src="{{ restaurant.image.url }}" class="card-img-top">
                            {% else %}
                                <img src="{% static 'img/restaurant.jpg' %}" class="card-img-top">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ restaurant.name }}</h5>
                                <p class="card-text">{{ restaurant.short_description }}</p>
                            </div>
                            <div class="card-footer text-body-secondary">
                                <i class="bi bi-star"></i>
                                <span>
                                    {{ restaurant.rating|floatformat:"1" }}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        {% if page_restaurants.has_other_pages %}
        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="col">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if page_restaurants.has_previous %}
                            <li class="page-item">
                                <a class="page-link">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                        {% endif %}

                        {% for page_number in page_restaurants.paginator.page_range %}
                            {% if page_restaurants.number == page_number %}
                                <li class="page-item active">
                                    <a class="page-link" href="#">{{ page_number }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        
                        {% if page_restaurants.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}
