{% extends 'index.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}Ping Rests - {{ restaurant.name }}{% endblock %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="row" style="margin-top: 20px;">
            <div class="col">
                <h1>
                    Restaurant - {{ restaurant.name }}
                    <div class="float-end">
                        <i class="bi bi-star"></i>
                        <span>
                            {{ restaurant.rating|floatformat:"1" }}
                        </span>
                    </div>
                </h1>
            </div>
        </div>
        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="col-3" style="margin-top: 20px;">
                {% if restaurant.image %}
                    <img src="{{ restaurant.image.url }}" class="img-fluid" alt="Restaurant Image">
                {% else %}
                    <img src="{% static 'img/restaurant.jpg' %}" class="img-fluid" alt="Restaurant Image">
                {% endif %}
            </div>
            <div class="col">
                <div class="card">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">{{ restaurant.short_description }}</h5>
                        <p class="card-text">{{ restaurant.description }}</p>
                    </div>
                    <div class="card-footer text-body-secondary">
                        {{ restaurant.address }}
                    </div>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="row justify-content-md-center" style="margin-bottom: 20px;">
                <div class="col col-6">
                    <h2>Write Review</h2>
                    <form action="{% url 'reviews' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Short Review</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="short_review">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Review</label>
                            <textarea rows="8" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="text"></textarea>
                            <div id="emailHelp" class="form-text">Write you review here</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Rating</label>
                            <input type="number" class="form-control" id="exampleInputPassword1" name="rating" min="1" max="5">
                        </div>
                        <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        {% endif %}
        {% if reviews %}
            <hr/>
            <div class="row justify-content-md-center" style="margin-top: 20px;">
                <div class="row justify-content-md-center">
                    <div class="col col-6">
                        <h2>Reviews</h2>
                    </div>
                </div>
                {% for review in reviews %}
                    <div class="row justify-content-md-center" style="margin-top: 10px; margin-bottom: 10px;">
                        <div class="col col-6">
                            <div class="card">
                                <h5 class="card-header">
                                    {% censor review.short_review %}
                                    <div class="float-end">
                                        <i class="bi bi-star"></i>
                                        <span>
                                            {{ review.rating|floatformat:"1" }}
                                        </span>
                                    </div>
                                </h5>
                                <div class="card-body">
                                    <p class="card-text">{% censor review.text %}</p>
                                </div>
                                <div class="card-footer text-body-secondary">
                                    {{ review.user.email }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}
