{% extends 'layouts/main.html' %}
{% block content %}
    {% load static %}
    {% load custom_tags %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.12.0/jquery.validate.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.12.0/additional-methods.js"></script>
    <script src="{% static 'script/posts.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'style/posts.css' %}">
    <div style="text-align: center; margin-bottom: 50px">
        <div id="publish">
                <div id="pub-title">
                    {{ post.title }}
                </div>
                <div id="img">
                    <img src="/media/{{ post.img }}" />
                </div>
                <div id="pub-text">
                    {% censor post.text %}
                </div>
        </div>
        <div id="comment">
            <h3>Комментарии пользователей</h3>
            <span><input type="checkbox" id="censor-check">Показать цензуру</span>
            {% for com in comments %}
                <div class="com">
                    <span class="user">Пользователь: {{ com.user }}</span><br>
                    <span class="com-text" id="com-text-{{ com.id }}">{% censor com.text %}</span>
                </div>
                <span id="com-{{ com.id }}" style="visibility: hidden; position: absolute">{{ com.text }}</span>
                <span id="con-{{ com.id }}" style="visibility: hidden; position: absolute">{% censor com.text %}</span>
            {% endfor %}
        {% if user.is_authenticated %}
            <div class="com" style="text-align: center">
                <p style="text-align: left; margin-left: 20px">Добавить комментарии</p>
                <form id="form" method="POST" action="/comments/">
                    {% csrf_token %}
                    <textarea name="text" cols="40" rows="10" maxlength="100" required="" id="id_text"></textarea>
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input type="submit" id="submit-button" value="ОТПРАВИТЬ">
                </form>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}