{% extends 'layouts/main.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/students.css' %}">

    <h1 id="form-text">Список студентов</h1>
    <div id="box">
        <table id="content">
            <tr>
                <th>Курс обучения</th>
                <th>Имя</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Год рождения</th>
                <th>Номер телефона</th>
                <th>Комментарии</th>
            </tr>
            {% for tx in txt %}
            <tr>
                <td>{{ tx.lesson }}</td>
                <td>{{ tx.pk }}</td>
                <td>{{ tx.name }}</td>
                <td>{{ tx.surname }}</td>
                <td>{{ tx.birthday }}</td>
                <td id="ph_num">{{ tx.number }}</td>
                <td>{{ tx.comment }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}